textarea {
    min-height: 400px;
}

#error-message {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 10px 15px 10px 15px;
}

#emails-view {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 2rem;
}

.email-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid rgb(87, 85, 85);
    margin: 1rem 0 1rem 0;
    width: 100%;
    padding: 10px;
}

.email-container:hover {
    background-color: rgba(123, 160, 230, 0.459);
    cursor: pointer;
}
.read {
    background-color: rgba(129, 134, 136, 0.38);
}

.email-head {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 0.7rem;
}

.email-body {
    display: block;
    width: 70%;
    min-height: 200px;
    border: 1px solid black;
    padding-top: 1rem;
    padding-left: 1rem;
    margin-top: 1rem;
}

.archive {
    display: inline;
    background-color: gray;
    border-color: gray;
}

#send-email {
    margin-top: 1rem;
    margin-bottom: 2rem;
}
